.editor {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &_left,
    &_right {
        position: absolute;
        width: 20%;
        // height: 100vh;
        background: rgb(234, 206, 206);
        top: 0;
        bottom: 0;
    }

    &_left {
        left: 0;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        &_item {
            width: 40%;
            height: 7vh;
            margin-bottom: 2vh;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
            cursor: move;
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: ' ';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #ccc;
                opacity: 0.2;
            }

        }
    }

    &_right {
        right: 0;
    }

    &_top {
        position: absolute;
        right: 21%;
        left: 21%;
        top: 0;
        height: 10vh;
        background: rgb(138, 138, 214);
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(221, 221, 255);
        &_button{
            width: 70px;
            height: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #ffc;
            color: blue;
            &+&{
                margin-left: 3px
            }
        }
    }

    &_container {
        position: absolute;
        right: 21%;
        left: 21%;
        top: 11vh;
        height: 87vh;
        bottom: 0;
        background: rgb(233, 255, 233);

        &_canvas {
            overflow: scroll;
            height: 100%;

            &_content {
                margin: 0 auto;
                position: relative;
            }
        }
    }
}

.editor-block {
    position: absolute;

    &::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.editor_block_focus {
    &::after {
        border: 2px dashed rgb(255, 0, 221);
    }
}

.editor_top_button_text {
    background: none;
    cursor: pointer;
}

.line_x {
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px dashed rgb(21, 0, 255);
}

.line_y {
    // width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px dashed rgb(0, 34, 255);
}